In [1]:
from vanna.local import LocalContext_OpenAI

## Connect to OpenAI

In [2]:
vn = LocalContext_OpenAI({"api_key": "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"})

# Train using a Sample SQL Query
The easiest way to get started is to just paste in one SQL query and let Vanna train on it. This will create a new context database and train a model on it. You can then use that model to generate SQL queries.

In [25]:
vn.train(sql="""
SELECT TOP 10 ContractAmount, CrmAccounts.Account_Id FROM Contracts JOIN CrmAccounts ON Contracts.Crmaccountid = CrmAccounts.Account_Id
""")

Using model gpt-3.5-turbo for 87.75 tokens (approx)
Question generated with sql: What are the top 10 contract amounts and corresponding account IDs?
Adding SQL...

'f3f75aa0-a618-42bd-989f-ab539d778058-sql'

# Connect to the Database
This is the database that will be used to run the generated SQL queries against. Here we're connecting to MSSQL Azure Database.

In [22]:
import pymssql
import pandas as pd
conn_sql_server = pymssql.connect("sqlgpt.database.windows.net", "sushant@sqlgpt", "Solarsystem$123", "sqlgpt")

def run_sql_sql_server(sql: str) -> pd.DataFrame:
    df = pd.read_sql(sql, conn_sql_server)
    return df

### Train the sql model using related queries

In [20]:
vn.train(sql="""
SELECT TOP 5 Potential_Owner_Name, COUNT(*) AS Potential_Count FROM Potentials WHERE Stage <> 'Contracting' GROUP BY Potential_Owner_Name ORDER BY Potential_Count DESC""")

Using model gpt-3.5-turbo for 95.5 tokens (approx)
Question generated with sql: What are the top 5 potential owners with the highest count of potentials, excluding those in the 'Contracting' stage?
Adding SQL...

'50beba0b-b7df-4503-918f-4ff3cb46af73-sql'

# Begin Asking Questions
There is an automatic feedback loop here so when you ask a question that results in SQL that can execute, it will automatically be added to the context database and used to train the model.

In [23]:
auto_train = True
question = "Which potential owner has the second highest potentials that did not result in a contract?"
sql = vn.ask(question=question, print_results=False)[0]
print(sql)

df = run_sql_sql_server(sql)
display(df)
if len(df.index)>0 and auto_train:
    vn.add_question_sql(question=question,sql=sql)
    print("Training Data added successfully")

Number of requested results 10 is greater than number of elements in index 4, updating n_results = 4

Number of requested results 10 is greater than number of elements in index 3, updating n_results = 3

Using model gpt-3.5-turbo-16k for 4722.75 tokens (approx)
If you want to run the SQL query, connect to a database first. See here: https://vanna.ai/docs/databases.html

SELECT Potential_Owner_Name, COUNT(*) AS Potential_Count FROM Potentials WHERE Stage <> 'Contracting' GROUP BY Potential_Owner_Name ORDER BY Potential_Count DESC OFFSET 1 ROWS FETCH NEXT 1 ROWS ONLY

/tmp/ipykernel_7936/3827081554.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, conn_sql_server)

  Potential_Owner_Name  Potential_Count
0           Jonathan S              765

Training Data added successfully

In [21]:
vn.remove_training_data(id='aca81b3b-42df-417d-9112-5be499f483df-sql')

True

In [20]:
vn.get_training_data()

,id,question,content,training_data_type
0,7d57df54-6434-4a91-9c4e-fbf884bffe07-sql,What is the count of potentials created each m...,"\nSELECT DATEPART(month, Created_Time) AS Mont...",sql
1,93e9b379-703d-4188-8d78-fe194ed4901b-sql,What are the top 5 users with the highest coun...,"\nSELECT TOP 5 Users.Name, COUNT(*) as Potenti...",sql
2,029e06e9-a265-4444-8555-3bb51c35753e-sql,What are the top 10 potential owners and their...,"\nSELECT TOP 10 Potential_Owner_Name, COUNT(*)...",sql
3,3a9aa327-63ed-4f47-8021-8de9145c98af-sql,What is the name of the potential owner who ha...,"\nSELECT TOP 1 Potential_Owner_Name, COUNT(*) ...",sql
4,569103b6-f452-4c8e-a2ef-8c7af0ceaab2-sql,What are the top 10 potential owners by count ...,"\nSELECT TOP 10 Potential_Owner_Name, COUNT(*)...",sql
5,ff75f73d-689d-4dbe-8709-a44b895d64e1-sql,What are the top 10 sub-services based on the ...,"\nSELECT TOP 10 Sub_Service, COUNT(*) AS NumPo...",sql
6,5b96f900-4a64-40a1-9e1a-1f2d91a3dd61-sql,What are the top 10 sub-services and how many ...,"\nSELECT TOP 10 Sub_Service, COUNT(*) AS NumPo...",sql
7,a0551bf2-173b-4f8e-9136-ecee9d8d2429-sql,What are the top 5 services with the highest t...,"\nSELECT TOP 5 Service_name, SUM(ContractAmoun...",sql
8,f3f75aa0-a618-42bd-989f-ab539d778058-sql,What are the top 10 contract amounts and corre...,"\nSELECT TOP 10 ContractAmount, CrmAccounts.Ac...",sql
9,539e1607-1d0d-4da1-a348-cf96912432b0-sql,What are the top 10 sub-services with the high...,"\nSELECT TOP 10 Sub_Service, COUNT(*) AS NumPo...",sql
10,db8c3243-1615-4ad7-84b5-9811a49670a6-sql,What is the number of potentials for each pote...,"\nSELECT Potential_Owner_Id, COUNT(*) AS NumPo...",sql
11,2f21c2b7-92c2-4921-9337-1b4db347bdff-sql,What is the count of potential owners who have...,"\nSELECT Potential_Owner_Name, COUNT(*) AS Cou...",sql
12,b5d160fd-4789-4ca1-8ed3-5091f6f5eaa3-sql,What are the top 5 users with the highest coun...,"\nSELECT TOP 5 Users.Name, COUNT(*) as Potenti...",sql
13,1d1811ac-b3f6-4e9d-adce-867216ab11a5-sql,What is the name of the user who has the highe...,"\nSELECT TOP 1 Users.Name, COUNT(*) as Potenti...",sql
14,55043454-2410-4308-8ee2-4640a7524373-sql,What is the total revenue for each account man...,"\nSELECT AccountManager, SUM(Amount) AS TotalR...",sql
15,b2de61c1-57c7-4239-bdbb-675b49781fc1-sql,What is the total revenue for each account man...,"\nSELECT TOP 1 AccountManager, SUM(Amount) AS ...",sql
16,9bb94e3c-d22c-49b3-8f54-03e079c29610-sql,What is the account manager with the highest t...,\nWITH RevenueByAccountManager AS (\n SELECT ...,sql
17,adca8e3c-e1fe-48dc-a21d-bdbbbd7ad955-sql,What is the monthly count of potentials?,"\nSELECT DATEPART(month, Created_Time) AS Mont...",sql
18,fb1eb989-579b-48e8-9da3-6c4684768167-sql,What are the services with the highest number ...,"\nSELECT Service, COUNT(*) AS NumPotentials FR...",sql
19,0d77221b-210c-4b70-8358-7f6395ac51a2-sql,What are the top 10 sub-services with the high...,"\nSELECT TOP 10 Sub_Service, COUNT(*) AS NumPo...",sql
20,c9c69955-3e3d-4e5e-99c7-01af77e797b0-sql,What is the distribution of potential leads cr...,"\nSELECT DATEPART(hour, Created_Time) AS Hour,...",sql
21,e28329ff-c76e-46f6-a0a7-888166852a38-sql,What is the distribution of potential sales by...,"\nSELECT DATEPART(WEEKDAY, Closing_Date) AS Da...",sql
22,3fae4d9e-2818-4728-8b9c-1009b45e12a5-sql,What are the top 10 closing dates based on the...,"\nSELECT TOP 10 Closing_Date, SUM(Amount) as T...",sql
23,58c40020-8685-45ce-971f-94d9c5f9e4b1-sql,What is the busiest day in terms of potential ...,"\nSELECT TOP 1 DATEPART(day, Created_Time) AS ...",sql
24,8ffe72cc-9e4e-4f4d-bd05-c50a89aa1ed3-sql,What is the total count of potentials that are...,\nSELECT COUNT(*) FROM Potentials WHERE Stage ...,sql
25,700a8491-5897-4734-824a-f503cc3ed2c3-sql,What is the total number of potentials in the ...,\nSELECT COUNT(*) FROM Potentials WHERE Stage ...,sql
26,10a275bb-a154-4f4e-aacd-d243686f54bf-sql,"How many potentials are in the ""contact later""...",\nSELECT COUNT(*) FROM Potentials WHERE Stage ...,sql
27,b6c40f31-4892-4461-be66-5b16b442f133-sql,How many potential deals are currently in the ...,\nSELECT COUNT(*) FROM Potentials WHERE Stage ...,sql
28,971b618b-1e27-416d-800c-972366f905cd-sql,What are the top 5 customers with the highest ...,"\nSELECT TOP 5 CustomerName, Total FROM Credit...",sql
29,20051c66-f200-499f-b890-dbf8345519de-sql,What is the customer with the highest total re...,"\nSELECT TOP 1 CustomerName, SUM(Total) AS Tot...",sql
30,779adc5d-4be8-4e0d-aa1c-463124b8a06d-sql,What is the total number of contracts that are...,\nSELECT COUNT(*) FROM Contracts WHERE YEAR(Co...,sql
31,5ca66c39-e275-47ac-a6f5-ebb8356e24e9-sql,What is the total amount of all contracts?,\nSELECT SUM(ContractAmount) FROM Contracts\n,sql
32,58dc93c2-27c5-4b3f-8d7a-a6f73f2e8308-sql,What is the total value of contracts for the c...,\nSELECT SUM(ContractAmount) AS TotalValue FRO...,sql
33,7b6a5578-74cd-44ff-834c-c5ca40b5cc93-sql,What is the revenue for each stage?,"\nSELECT Stage, SUM(Amount) AS Revenue FROM Po...",sql
34,a913767f-0e68-4262-ba62-907dab8bf06d-sql,What is the monthly count of contracts?,"\nSELECT MONTH(ContractDate) AS Month, COUNT(*...",sql
35,b8d92d06-759c-4b5f-a95d-40c8609f02d3-sql,How many client accounts were created in the y...,\nSELECT COUNT(*) FROM ClientAccounts WHERE Cr...,sql
36,89cb1bf2-9e97-4b01-ada7-34362455a327-sql,What are the top 10 potential deals that were ...,"\nSELECT TOP 10 Potential_Name, Amount FROM Po...",sql
37,4c2357db-8fc7-4995-882e-e2803546168c-sql,Top 5 wins in the past 120 days. today is 24 s...,"SELECT TOP 5 Potential_Name, Amount FROM Poten...",sql
38,aca81b3b-42df-417d-9112-5be499f483df-sql,Top 1 wins in the past 120 days. today is 24 s...,"SELECT TOP 1 Potential_Name, Amount FROM Poten...",sql
0,0817eb0d-bfb0-4838-8428-ee3071797c34-ddl,None,\n CREATE TABLE [CreditNote] (\n ...,ddl
1,2f46bb1c-f3e3-4cf5-8b08-557be71e4fa7-ddl,None,\nCREATE TABLE [Contracts] (\n [Contrac...,ddl
2,25296a3f-22ea-4065-b495-d86cc8e56438-ddl,None,\nCREATE TABLE [Potentials] (\n [Potent...,ddl
0,2074bdbb-31e2-453e-a6b8-f2ae0357d16f-doc,None,Use TOP instead of LIMIT,documentation
1,a77953c9-1751-4964-9fdc-53b862b562c1-doc,None,Use DATEPART instead of DATE_FORMAT,documentation
2,c8b628d7-3e7a-4fd6-9153-629a9cdaf375-doc,None,"Always Use TOP to find the max, most and highe...",documentation

## Train on documentation

In [15]:
vn.train(documentation="Always Use TOP to find the max, most and highest values")

Adding documentation....

'c8b628d7-3e7a-4fd6-9153-629a9cdaf375-doc'

In [8]:
vn.train(ddl="""
CREATE TABLE [CrmAccounts] (
        [Account_Id] BIGINT NULL, 
        [Account_Owner_Id] BIGINT NULL, 
        [Rating] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Account_Name] NVARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Phone] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Account_Site] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Fax] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Parent_Account] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Website] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Account_Number] TINYINT NULL, 
        [Ticker_Symbol] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Account_Type] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Ownership] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Industry] NVARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Employees] FLOAT(53) NULL, 
        [Annual_Revenue] FLOAT(53) NULL, 
        [SIC_Code] FLOAT(53) NULL, 
        [Created_By] BIGINT NULL, 
        [Modified_By] BIGINT NULL, 
        [Created_Time] DATETIME2 NULL, 
        [Modified_Time] DATETIME2 NULL, 
        [Billing_Street] NVARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Shipping_Street] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Billing_City] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Shipping_City] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Billing_State] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Shipping_State] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Billing_Code] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Shipping_Code] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Billing_Country] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Shipping_Country] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Description] NVARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Currency] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Exchange_Rate] TINYINT NULL, 
        [Last_Activity_Time] DATETIME2 NULL, 
        [Territories] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Country_FWS] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Lead_Number] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Layout] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Sub_Vertical] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Defaulter_Description] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
        [Possible_Defaulter] TINYINT NULL)
        """)

Adding ddl:
CREATE TABLE [CrmAccounts] (
        [Account_Id] BIGINT NULL,
        [Account_Owner_Id] BIGINT NULL,
        [Rating] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Account_Name] NVARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Phone] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Account_Site] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Fax] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Parent_Account] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Website] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Account_Number] TINYINT NULL,
        [Ticker_Symbol] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Account_Type] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Ownership] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Industry] NVARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Employees] FLOAT(53) NULL,
        [Annual_Revenue] FLOAT(53) NULL,
        [SIC_Code] FLOAT(53) NULL,
        [Created_By] BIGINT NULL,
        [Modified_By] BIGINT NULL,
        [Created_Time] DATETIME2 NULL,
        [Modified_Time] DATETIME2 NULL,
        [Billing_Street] NVARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Shipping_Street] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Billing_City] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Shipping_City] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Billing_State] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Shipping_State] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Billing_Code] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Shipping_Code] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Billing_Country] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Shipping_Country] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Description] NVARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Currency] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Exchange_Rate] TINYINT NULL,
        [Last_Activity_Time] DATETIME2 NULL,
        [Territories] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Country_FWS] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Lead_Number] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Layout] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Sub_Vertical] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Defaulter_Description] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
        [Possible_Defaulter] TINYINT NULL)

'b946eba5-6f29-45dc-b800-cf6c5ba0b322-ddl'